<div class="hero is-light">
  <div class="hero-body">
    <h3 class="title">Books</h3>
    <h4 class="subtitle">Select A Book</h4>

    <div class="columns is-multiline is-mobile">
      {{#each model as |book|}}
        <div class="column is-2-desktop is-one-quarter-tablet is-half-mobile">
        {{#link-to 'book.view' book class='notification is-info is-block has-text-centered'}}
          {{book.name}}
        {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

