<nav class="nav">
  <div class="nav-left">
    {{#link-to 'index' class='nav-item is-brand'}}
      <strong class="title">lyre</strong>
    {{/link-to}}
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
