<h4 class="subtitle is-4">{{model.name}}</h4>

{{#link-to 'song.new' (query-params book=model.id) class='button'}}Add Song{{/link-to}}

{{#if model.songs.isFulfilled}}
  <ul>
    {{#each model.songs as |song|}}
      <li>{{#link-to 'song.view' song}}{{song.title}}{{/link-to}}</li>
    {{else}}
      <li>No songs yet.</li>
    {{/each}}
  </ul>
{{/if}}
